
  .wrapper {
    display: grid;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-columns: auto 20%;
    grid-template-areas: 
    "header header" 
    "menu menu"
    "main main2"
    "footer footer";
  }

  .header {
    background:#A6ACB0;
    grid-area: header;
    display: flex;
  }

.headericon {
    padding: 10px;
    width: 30px;
    height: 30px;
  }

.homeicon {
  padding: 15px;
  width: 25px;
  height: 25px;
}

.headertext {
 color: black;
 text-align: center;
 padding: 15px;
    }

.menuoption {
  color: black;
  text-align: center;
  padding: 17px;
  font-weight: bold;
  text-decoration: none;
}

.menuoption:hover {
background-color: #07559F;
}

  .menu {
    background-color: #FFFFFF;
    grid-area: menu;
    display: flex;
  }

  .content {
      width: 260px;
      max-height: 380px;
      border-width: 1px;
      border-style: ridge;
      border-color: black;
      margin: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
  }

.contentheader {
  padding: 10px;
  font-weight: bold;
}

.contenttext {
  padding: 10px;
}
  
  .footer {
    background: lightgreen;
    grid-area: footer;
    text-align: center;
    padding: 15px;
    background:#A6ACB0;
  }
  
  .main {
    text-align: left;
    background: #DBDDDF;
    display: flex;  
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    grid-area: main;
  }

  .main2 {
    text-align: left;
    background: #8297AB;
    display: flex;  
    flex-flow: row wrap;
    align-content: flex-start;
    grid-area: main2;
  }

  .main2icon {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

.news {
  padding-top: 25px;
  font-weight: bold;
}

.newscontentheader {
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
  font-weight: bold;
}

.newscontent {
  padding-left: 10px;

}
  
  .aside-2 {
    background: #CED9E4;
  }
   
 /*
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }

 
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  */
  body {
    width: auto;
    margin: auto;
    font-family: arial, verdana;
  }